<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="com.megster.cordova.EmailComposer" 
    version="0.0.0">
    
    <name>Email Composer</name>
    
    <!-- TODO js-module -->
    <asset src="www/EmailComposer.js" target="js/emailComposer.js"/>
    
    <platform name="ios">
                
        <config-file target="config.xml" parent="plugins">
            <plugin name="EmailComposer" value="EmailComposer" />
        </config-file>

        <header-file src="src/ios/EmailComposer.h" target-dir="EmailComposer" />
        <source-file src="src/ios/EmailComposer.m" target-dir="EmailComposer" />
                
        <!-- frameworks -->
        <framework src="MessageUI.framework" />
        
    </platform>
</plugin>