<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="com.megster.cordova.EmailComposer" 
    version="0.0.0">
    
    <name>Email Composer</name>
    
    <js-module src="www/EmailComposer.js" name="EmailComposer">
        <clobbers target="EmailComposer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="ios-package" value="EmailComposer"/>
            </feature>
        </config-file>

        <source-file src="src/ios/EmailComposer.m" />
        <header-file src="src/ios/EmailComposer.h" />
    </platform>
</plugin>
